<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Bean defination -->

    <bean id="alien" class="com.jspring6.AlienSpring">
    <property name="age" value="23"></property>   <!-- Value for the Premitive type for the obj use something else -->
    <property name="lap" ref="lap1"></property>  <!-- Here we have to wire the obj as it is already created by bean , give the ref of bean id obj -->
    </bean>

<!--    <bean id="alien" class="com.jspring6.AlienSpring" scope="prototype">-->
<!--    </bean>-->

<!-- Mentioning the bean for the Latop class to create the obj, if mentioned the two times for same class
     It will create the 2 time object for the class
-->
    <bean id="lap1" class="com.jspring6.Laptop">
    </bean>

    <bean id="constinject" class="com.jspring6.ConstructorInjection">
    <constructor-arg value="25"/>
    <constructor-arg ref="lap1" />
    </bean>

<!-- 
<bean id="lap" class="com.jspring6.Laptop">
    </bean>  -->

<!-- Defining the computer bean of concrete class -->
    <bean id="computer" class="com.jspring6.Desktop"> 
    </bean>  

<!-- Injecting the obj Computer Bean from the Desktopo as concrete class -->
    <bean id="alienif" class="com.jspring6.AlienInterface">
    <property name="com" ref="computer"></property> 
    <property name="lap" ref="lap1"></property> 

    </bean>


<!-- bean of the lazy init class  -->
    <bean id="lazybean" class="com.jspring6.LazyInitBean" lazy-init="true">
    </bean>
    
</beans>
